body
{
    font-family: 'Noto Sans KR', sans-serif;
}
h1
{
    font-size: 50px;
}
.name-highlighted
{
    color: coral;
}
.half-width
{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.half-width img
{
    width: 100%;
    height: auto;
}